.container {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-image: url("../../assets/palletGalleryBackground.png");
  background-size: cover;
  box-sizing: border-box;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 1rem;
}

.board {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #deb886;
  padding: 1rem;
  border-radius: 30px;
  background: rgb(222, 184, 134, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.boltImage {
  height: 1rem;
  width: 1rem;
}

.card {
  background: rgba(255, 255, 255, 0.6) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
  border-radius: 20px !important;
  border: 1px solid rgba(255, 255, 255, 0.18);
  min-width: 20rem;
  width: 23rem !important;
  min-height: 29rem;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  background: rgba(65, 58, 58, 0.15);
  transform: translateY(-20px);
}

.image {
  height: 20rem;
  width: 30rem;
  background-color: #fff;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.edited {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  gap: 10px;
}

.gallery {
  margin-top: 6rem;
  padding: 1.4rem;
  display: flex;
  gap: 40px;
  overflow: scroll;
}

.newDrawing {
  height: 80%;
  width: 80%;
  border: 1px dashed black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newDrawingCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addIcon {
  font-size: 4rem !important;
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}

.editContainer {
  width: 100%;
}

.textField {
  width: 70%;
}

.adornmentIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.done {
  color: green;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.close {
  color: red;
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.name {
  text-decoration: underline;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-height: 740px) {
  .container {
    padding: 0px;
  }

  .heading {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .gallery {
    margin-top: 0.2rem;
    padding: 0.75rem;
  }
  .scrollIndictor {
    display: inline-flex;
    justify-content: center;
    color: #fff;
    background-color: #deb886;
    font-weight: 800;
    margin-right: 1.5rem;
  }
}

@media (max-width: 460px) {
  .heading {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
