.closeIcon {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textfield {
  width: 100%;
}

.buttonContainer {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 60px;
}
