.background {
  background-color: lavender;
}

.icon {
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 90px;
}

.icon:hover {
  background-color: lavender;
}
.name {
  text-align: center !important;
}

.toolBar {
  padding: 1rem;
  font-size: 4rem !important;
  color: grey;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid grey;
  border-radius: 50px;
  cursor: pointer;
}

.menu {
  background-color: #fff !important;
}
