.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

.background {
  background-color: lavender;
}

.icon {
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 90px;
}

.icon:hover {
  background-color: lavender;
}
.name {
  text-align: center !important;
}
