.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.emailInput {
  width: 100%;
  color: #fff;
}

.passwordInput {
  margin: 1rem;
  width: 100%;
  color: #fff;
}

.submit {
  width: 100% !important;
  text-transform: initial;
  background-color: #7584f4;
}
